Source: vigilo-common
Section: python
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends:
 debhelper (>= 7.0.50~),
 python (>= 2.6.6-3~),
 python-setuptools
Standards-Version: 3.8.4
Homepage: http://www.projet-vigilo.org/
X-Python-Version: >= 2.5

Package: vigilo-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Vigilo common library
 This library provides common facilities for Vigilo
 components, such as configuration loading,
 logging, daemonizing, i18n, etc.
